name: Trigger Local Env

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Send dispatch event
        env:
          GITHUB_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github.everest-preview+json" \
          -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/Yam1x/to-dos-local-env/dispatches \
          -d '{"event_type": "trigger_from_repo1", "client_payload": {"branch": "${{ github.head_ref }}"}}'

          
      - name: Wait for Local Env tests to pass
        run: |
          sleep 20
      
          while true; do
            STATUS=$(curl -s -H "Authorization: token ${{ secrets.DISPATCH_TOKEN }}" \
              https://api.github.com/repos/Yam1x/to-dos-local-env/actions/runs \
              | jq '.workflow_runs | map(select(.event == "repository_dispatch" and .display_title == "trigger_from_UI")) | .[0].status')
      
            if [ "$STATUS" == "\"completed\"" ]; then
              CONCLUSION=$(curl -s -H "Authorization: token ${{ secrets.DISPATCH_TOKEN }}" \
                https://api.github.com/repos/Yam1x/to-dos-local-env/actions/runs \
                | jq '.workflow_runs | map(select(.event == "repository_dispatch" and .display_title == "trigger_from_UI")) | .[0].conclusion')
      
              if [ "$CONCLUSION" == "\"success\"" ]; then
                echo "Tests passed"
                exit 0
              else
                echo "Tests failed" 
                exit 1
              fi
            else
              echo "Waiting for test results..."
              sleep 30
            fi
          done
